body {
    background-color: rgb(18, 43, 66);
    margin: 0px;

}

#PartSup {
    background: rgb(21, 148, 203);
    background: linear-gradient(15deg, rgba(21, 148, 203, 1) 0%, rgba(200, 225, 236, 1) 31%, rgba(232, 236, 200, 1) 50%, rgba(200, 225, 236, 1) 74%, rgba(21, 148, 203, 1) 100%);
    background-repeat: no-repeat;
    padding: 50px;
    border: 0px;
    margin: 0px;

}

h2 {
    display: inline;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#Nahuel {
    margin-top: 15px;
    margin-right: 5px;
}


#Grosso {
    margin-top: 15px;
    margin-left: 5px;
}

#Nombre {
    font-size: 35px;
    color: rgb(18, 43, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;

}

#PDW {
    font-size: 10px;
    color: rgb(18, 43, 66);
    text-align: center;
    padding-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

h1 {
    padding-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.BarraMenu {
    width: auto;
    display: flex;
}

button {
    display: inline-block;
    background-color: #474343;
    color: #ffe4c4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 99%;
    margin-top: 5px;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #ffe4c4;
}

.P {
    width: 100%;
    background-color: #dadada;
    margin: 20px;
    padding: 40px;
    color: rgb(18, 43, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: justify;
    border-radius: 15px 15px 15px 15px;
    /*box-shadow: 0px 8px 16px 0px rgba(240, 232, 232, 0.438);*/


}

ul {
    width: max-content;
    background-color: #dadada;
    margin: 20px;
    padding: 40px;
    color: rgb(18, 43, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: justify;
    border-radius: 15px 15px 15px 15px;
    /*box-shadow: 0px 8px 16px 0px rgba(240, 232, 232, 0.438);*/

}


.dropdown {
    width: 25%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 90%;
    display: none;
    position: fixed;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*--*/

.AnimaL,
.AnimaH {
    display: inline-block;
    width: 48%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}
.AnimacionLeng {
    display: inline-block;
    width: 256px;
    height: 256px;
    text-align: center;
    background-image: url(../IMG/html-5.png);
    animation: example 10s infinite;
}

@keyframes example {
    0% {
        background-image: url(../IMG/html-5.png);
    }

    33% {
        background-image: url(../IMG/css-3.png);
    }

    66% {
        background-image: url(../IMG/js.png);
    }

}


.AnimacionHer {
    display: inline-block;
    width: 256px;
    height: 256px;
    text-align: center;
    background-image: url(../IMG/github.png);
    animation: exampleH 10s infinite;
}

@keyframes exampleH {
    0% {
        background-image: url(../IMG/github.png);
    }

    25% {
        background-image: url(../IMG/bootstrap.png);
    }

    50% {
        background-image: url(../IMG/W3Schools.png);
    }

    75% {
        background-image: url(../IMG/mdn.png);
    }

}

.AsideProyectos {
    width: 100%;
    height: auto;
    margin: 10px;
}

.ContenedorProyectos {
    margin-top: 5px;
    background-color: #fbfdfb;
    border-radius: 5px;
}

.card-img-top {
    width: 250px;
    height: auto;
    display: inline-block;
    text-align: center;
}
.Tarjetas {
    display: inline-block;
    width: 25%;
}
.card {
    height: 425px;
    width: 80%;
    border: #474343 solid 2px;
    border-radius: 5px;
    margin: 10px;
    font-size: larger;
    text-align: center;
}

.card-text {
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
    border: #474343 solid 2px;
    background-color: #dadada;
}
/*
#Contacto {
}
*/
/*aside*/
#DCS {
    padding: 8px;
    border: 2px #ffe4c4;
    margin-bottom: 0px;
    text-align: center;
    color: #ffe4c4;
    font-size: xx-large;
}

#Nombre_de_Usuario {
    padding: 8px;
    border: 2px #ffe4c4;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffe4c4;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#DTC {
    font-size: x-large;
    text-align: center;
    color: #ffe4c4;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}


form {
    display: block;
    text-align: center;
    box-sizing: border-box;
}


input,
textarea {
    border: 5px;
    padding: 10px;
    border-radius: 15px;
}

input {
    width: 200px;
    height: 20px;
}

textarea {
    width: 380px;
    resize: none;

}

.Forma {
    text-align: flex;
    padding: 5px;
    ;
    border: 4px;
    border-color: #ffe4c4;
    margin: 6px;

}

#BotonEnv {
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #ffe4c4;
    color: rgb(18, 43, 66);
    font-size: large;
    width: 380px;
    height: 35px;
}

footer {
    margin-bottom: 30px;
}

#FotoInf {
    display: block;
    text-align: center;
}

#Oleo {
    border-radius: 50%;
    border: 3px solid #474343;
    padding: 8px;
    margin: 20px;
    width: 310px;
}

.Icons {
    display: block;
    text-align: center;
}

a {
    padding: 10px;
    margin: 10px;

}

